@font-face {
    font-family:'monument-bold';
    src: url('./monument-grotesk-bold.woff');
  }

  @font-face {
    font-family:'fungal';
    src: url('./ABCGalapagosAGrid-Semibold-Trial.woff');
  }  
  
html {
    font-family: 'monument-bold';
}

.ff-f {
    font-family: 'fungal';
}
